.App {
  text-align: center;
  font-family: sans-serif;
}

.timer {
  margin-top: 50px;
  margin-bottom: 40px;
}

.action-buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.action-buttons button {
  cursor: pointer;
  background-color: #fff;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.action-buttons .start {
  background-color: #0eb152;
}

.action-buttons .stop {
  background-color: #fd9413;
}

.action-buttons .wait {
  background-color: #2b8be6;
}

.action-buttons .reset {
  background-color: #ff3434;
}
